*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header div{
    width: 100%;
    height: 75px;
    display: flex;
    background-color: rgb(196, 113, 4);
}
.posizione{
    margin-left: 20px;
    margin-top: 15px;
}
.centrale{
    margin-top: 30px;
    width: 900px;
    height: 800px;
    background-color: rgb(248, 248, 248);
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}
.buttons{
    height: 70px;
    box-sizing: border-box;
    padding-top: 30px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
    border-radius: 3px;
}
.colore-blu{
    background-color: rgba(63, 89, 241, 0.966);
    color: white;
    border-radius: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.colore-grey{
    color: rgb(194, 189, 189);
    border-radius: 4px;
    border: 2px solid lightgrey;
}
.tlist{
    padding-top: 30px;
    padding-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.log{
    
}
.border_radius{
    border: 3px solid rgb(26, 224, 26);
    border-radius: 50%;
    color: rgb(41, 252, 41);
}
.border_color{
    border: 1px solid rgb(0, 162, 255);
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}
.border_red{
    border: 3px solid red;
    border-radius: 50%;
    color: red;
}
.border_violet{
    border: 1px solid rgb(241, 41, 241);
    border-radius: 5px;
    background-color: rgb(241, 41, 241);
    color: white;
}
.border_green{
    border: 1px solid rgb(69, 100, 71);
    border-radius: 5px;
    background-color: rgb(69, 100, 71);
    color: white;
}
.border_orange{
    border: 1px solid rgb(255, 156, 42);
    border-radius: 5px;
    background-color: rgb(255, 156, 42);
    color: white;
}
.border_pink{
    border: 1px solid rgb(250, 125, 233);
    border-radius: 5px;
    background-color: rgb(250, 125, 233);
    color: white;
}
.border_lime{
    border: 1px solid rgb(113, 202, 78);
    border-radius: 5px;
    background-color: rgb(113, 202, 78);
    color: white;
}